
div.top{
	height: 100px;
	width: 100%;
}

div.logotop{
	margin-left: 42%;
}

div.menu{
	height: 20px;
}

div.mmenu{
	margin-left: 37%;
}

div.banner{
	width: 1350px;
	height: 380px;
}

div.main{
	height: 1000px;
}

div.footer{
	height: 100px;
}