div.menuphp ul{
	margin: 0px;
	padding: 0px;
}

div.menuphp ul li{
	list-style: none;
	float: left;
}

div.menuphp ul li a{
	text-decoration: none;
	color: black;
	height: 20px;
	line-height: 20px;
	padding: 0px 20px 0px 20px;
	
}